<h1>PM Dev Students</h1>

<ul>
<% @students.each do |student| %>
  <li>
    <img src="<%= student.photo_url %>">
    <h3>
      <a href="https://www.twitter.com/<%= student.twitter %>"><%= student.name %></a>
    </h3>
  </li>
<% end %>
</ul>
